* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  h1{
    margin: 0;
    /* margin-bottom: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 100px;
    color: orange;
    height: 100vh;
  }